<!DOCTYPE html>
<html lang="en" class="landing">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Bean Around</title>
</head>

<body>
  <div class="logo-container">
    <div class="logo-wrapper">
      <a href="" class="landing-title">Bean<br>Around</a>
      <% if (user) { %>
        <a href="/logout" class="google-login">Log Out</a>
      <% } else { %>
        <a href="/auth/google" class="google-login">Login with Google</a>
      <% } %>
    </div>
  </div>
</body>
</html>