/*  Style partials header and landing page */
.background-image { 
  background: url(/images/2389930.jpg) no-repeat center center fixed; 
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: #efebe5;
  font-family: 'Open Sans', sans-serif;
}

body, .nav-bar * {
  margin: 0;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.logo-wrapper a {
  text-decoration: none;
}

.google-login {
  background-color: rgb(46, 47, 47);
  border-radius: 1em;
  color: rgb(225, 225, 225);
  font-size: 26px;
  height: 40px;
  margin: 0 auto;
  padding: 4px;
  transition-duration: .5s;
  width: 310px;
}

.google-login:hover {
  background-color:rgb(77, 79, 77);
}

.landing-title {
  color: rgb(215, 215, 215);
  font-size: 100px;
  font-weight: bold;
  padding: 10%;
}

.nav-bar {
  background-color:rgb(38, 29, 29, 0.9);
}

.nav-bar a {
  color: rgb(215, 215, 215); 
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  text-decoration: none;
  transition-duration: 0.4s;
}

.nav-bar a:hover {
  color: whitesmoke;
}

.nav-bar ul {
  color: rgb(215, 215, 215);
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 14px;
}

.logout-container {
  display: flex;
  align-items: center;
}

.logout-container img {
  margin-right: 5px;
}

/*  Style the main content container */
.main-content {
  align-items: center;
  display: grid;
  grid-template-columns: 60px 300px auto 300px 60px;
  grid-template-rows: 110px auto;
  justify-content: center;
}

.display-container {
  background-color: #efebe5;
  border-radius: 4px;
  border: solid 3px lightgray;
  color: rgb(40, 39, 39);
  font-size: 20px;
  grid-column-end: 5;
  grid-column-start: 2;
  grid-row: 2 / 7;
  margin-top: 0;
  max-width: 900px;
  min-height: 900px;
  min-width: 900px;
  padding: 12px;
}

.my-bean-link {
  align-self: end;
  color: rgb(215, 215, 215); 
  font-size: 28px;
  grid-column: 2;
  grid-row: 1;
  justify-self: left;
  margin-left: 40px;
  text-decoration: none;
  transition-duration: 0.4s;
}

.add-bean-link {
  align-self: end;
  color:rgb(241, 244, 184);
  font-size: 28px;
  font-weight: bold;
  grid-column: 2 / 4;
  grid-row: 1;
  margin-left: 200px;
  text-decoration: none;
  transition-duration: 0.4s;
  width: 180px;
}

.add-bean-link:hover {
  color:#fcd78c;
}
.my-bean-link:hover {
  color: whitesmoke;
}

.bean-count {
  align-self: end;
  color: whitesmoke; 
  font-size: 24px;
  grid-column: 4;
  grid-row: 1;
  justify-self: end;
  margin: 0 40px;
}

/*  Style My Beans Page */
.my-beans-card {
  background-image: linear-gradient(to bottom right, #efebe5, rgb(220, 211, 192));
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  height: 170px;
  margin: 20px 14px 10px 8px;
  padding: 10px;
  text-align: center;
  transition-duration: 0.3s;
  width: 240px;
}

.my-beans-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.my-beans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.my-beans-card p {
  color: rgb(77, 79, 77);
  font-size: 18px;
  margin: 0 auto;
}

.my-beans-card h2 {
  margin: 5px auto;
}

.see-details {
  color: #67869d;
  cursor: pointer;
  text-decoration: none;
}

.delete-button {
  background-color: inherit;
  border-radius: 4px;
  border-style: none;
  color: rgb(149, 145, 145);
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  transition-duration: .5s;
  width: 25px;
}

.delete-button:hover {
  background-color:#d8ccb4;
}

.delete-card {
  float: right;
}

/*  Style Add Bean Form */
.new-form {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

h1 {
  color: rgb(46, 47, 47);
  margin: 10px;
  text-align: center;
}

.new-form label {
  margin: 5px 50px 5px 50px;
}

.new-form input {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin: 5px 50px 5px 50px;
  padding: 10px;
  vertical-align: middle;
  width: 100em;
}

.new-form select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin: 5px 700px 5px 50px;
  padding: 10px;
  vertical-align: middle;
  width: 10em;
}

.new-form .cb {
  margin-right: auto;
  width: 40px;
}

.new-form .certs {
  margin-right: 800px;
}

.new-form .add-bean {
  background-color: rgb(60, 149, 103);
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  margin: 30px 50px;
  padding: 10px 20px;
  transition-duration: 0.5s;
}

.new-form .add-bean:hover {
  background-color: rgb(70, 198, 132);
}

.new-form .cblabel {
  margin-left: 0;
}

input, textarea, select {
  font-family: inherit;
}


/*  Style bean details show page */
h2 {
  margin: 10px;
  text-align: center;
}

.bean-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  margin: 10px 38px;
  row-gap: 10px;
  text-align: center;
}

.bean-details div {
  padding: 2px;
}

.bean-details .bean-info {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid lightgray;
  color:rgb(38, 29, 29, 0.9);
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 1;
  grid-template-rows: 60px auto 40px;
  height: 380px;
  margin: auto;
  padding: 10px;
  text-align: left;
  width: 800px;
}

.bean-info ul {
  display: inline-block; 
  list-style: none;
  margin: 0;
	text-align: left; 
}

.bean-info li {
  padding: 4px; 
}

.bean-info .edit-link {
  align-items: center;
}

.edit-link-wrapper {
  text-align: center;
}

/* Style Review Section */
h6 {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid lightgray;
  margin: 0;
  padding: 14px 0;
  text-align: center;
  width: 200px;
}

#add-review-form {
  font-size: 14px;
  text-align: center;
}

#add-review-form label {
  margin: 5px;
}

#add-review-form select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin: 5px 20px 5px 5px;
  padding: 5px;
  vertical-align: middle;
  width: 8em;
}

#add-review-form .rating select  {
  width: 3em;
}

#display-reviews {
  font-size: 16px;
}

.brew {
  align-items: center;
}

.add-review {
  background-color: rgb(60, 149, 103);
  border-radius: 4px;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px 20px;
  transition-duration: 0.5s;
}

.add-review:hover {
  background-color: rgb(70, 198, 132);
}

#review-notes {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 300px;
}

#display-reviews {
  font-size: 14px;
  margin-top: 10px;
}

.display-reviews-section {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.review-section {
  grid-column: 1 / span 2;
  grid-row: 3
}

table, th, td {
  border: 1px solid lightgray;
  border-collapse: collapse;
}

th {
  height: 34px;
  width: 90px;
}

.display-reviews tr:nth-child(even) {
  background-color: lightgray;
}

/* Style edit bean form and link */
.edit-link {
  background-color: rgb(237 236 237);
  border-radius: 10%;
  border: .5px solid lightgray;
  color: black;
  font-size: 14px;
  padding: 2px 12px;
  position: static;
  text-decoration: none;
  transition-duration: .2s;
}

.edit-link:hover {
  background-color: rgb(223, 219, 219);
}

.new-form .edit-bean {
  background-color: rgb(60, 149, 103);
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 20px;
  transition-duration: 0.5s;
}

.new-form .edit-bean:hover {
  background-color: rgb(70, 198, 132);
}

/*  Style All beans page */

.dropdown {
  margin-left: 800px;
  overflow: hidden; 
  width: 78px;
}

.dropdown .dropbtn {
  background-color: whitesmoke;
  border: 1px solid lightgray;
  color: rgb(55, 52, 52);
  font-family: inherit;
  font-size: 14px;
  padding: 4px 16px;
  margin: 0;
}

.dropdown-content {
  background-color:whitesmoke;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  display: block;
  float: none;
  padding: 4px 16px;
  text-align: left;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}