.landing { 
  background: url(/images/PngItem_47271.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #efebe5;
}

.home-page, .show-page, .form-page {
  margin: 0;
  background-color: #efebe5;
  font-family: Arial, Helvetica, sans-serif;
  background: url(/images/2389930.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


.nav-bar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 12px;
  justify-content: space-between;
  font-size: 26px;
  font-weight: bold;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.brand-logo {
  font-size: 70px;
  padding: 10%;
}

a {
  text-decoration: none;
  font-size: 24px;
  color: rgb(208, 211, 211); 
  font-family: Arial, Helvetica, sans-serif;
}

.add-bean-link {
  color:rgb(158, 222, 158);
  font-weight: bold;
}

.main-content {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 60px 300px auto 300px 60px;
  grid-template-rows: 10% auto;
}

.display-container {
  max-width: 900px;
  min-width: 900px;
  min-height: 800px;
  height: 80vh;
  border: solid 10px rgb(208 178 157);
  color: rgb(35, 34, 34);
  margin-top: 0;
  border-radius: 1em;
  background-color: rgb(226 211 195);
  font-size: 20px;
  grid-row: 2 / 7;
  grid-column-start: 2;
  grid-column-end: 5;
}

th {
  width: 20vw;
  height: 8vh;
  text-align: center;
} 

td {
  width: 20vw;
  text-align: center;
}

.my-bean-link {
  grid-column: 2;
  grid-row: 1;
  justify-self: left;
  margin-left: 40px;
  align-self: end;
}
.add-bean-link {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  align-self: end;
}

#display-reviews {
  font-size: 16px;
  width: 14vw;
}

#new-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.main-content h1 {
  margin: 30px;
  color: rgb(46, 47, 47);
  text-align: center;
}

#new-form label {
  margin: 5px 50px 5px 50px;
}

#new-form input {
  vertical-align: middle;
  margin: 5px 50px 5px 50px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 100em;
}

#new-form select {
  vertical-align: middle;
  margin: 5px 700px 5px 50px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 10em
}

#new-form .cb {
  width: 40px;
  margin: 0;
  margin-left: 50px;
}

#new-form .cblabel {
  margin-left: 0;
  margin-right: 80px;
}

#new-form .certs {
  margin-right: 800px;
}

#new-form .add-bean {
  padding: 10px 20px;
  background-color: rgb(45, 84, 83);
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  margin-top: 220px;
}

#new-form .add-bean:hover {
  background-color: rgb(92, 148, 205);
}


