/*  Style partials header and landing page */
.background-image { 
  background: url(/images/2389930.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #efebe5;
  font-family: Arial, Helvetica, sans-serif;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.logo-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo-wrapper a {
  text-decoration: none;
}

.google-login {
  font-size: 26px;
  color: rgb(215, 215, 215);
  background-color: rgb(46, 47, 47);
  width: 310px;
  transition-duration: .5s;
  margin: 0 auto;
  border-radius: 1em;
  padding: 4px;
}

.google-login:hover {
  background-color:rgb(77, 79, 77);
}

.landing-title {
  font-size: 100px;
  padding: 10%;
  color: rgb(215, 215, 215);
  font-weight: bold;
}

.nav-bar a {
  text-decoration: none;
  font-size: 24px;
  color: rgb(215, 215, 215); 
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 12px;
  justify-content: space-between;
  font-size: 26px;
  font-weight: bold;
}


/*  Style the main content container */
.main-content {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 60px 300px auto 300px 60px;
  grid-template-rows: 110px auto;
}

.display-container {
  min-width: 900px;
  max-width: 900px;
  min-height: 900px;
  border: solid 10px rgb(208 178 157);
  color: rgb(40, 39, 39);
  margin-top: 0;
  border-radius: 1em;
  background-color: rgb(226 211 195);
  font-size: 20px;
  grid-row: 2 / 7;
  grid-column-start: 2;
  grid-column-end: 5;
  padding: 12px;
}

.my-bean-link {
  grid-column: 2;
  grid-row: 1;
  justify-self: left;
  margin-left: 40px;
  align-self: end;
  text-decoration: none;
  font-size: 28px;
  color: rgb(215, 215, 215); 
  transition-duration: 0.4s;
}

.add-bean-link {
  grid-column: 2 / 4;
  grid-row: 1;
  align-self: end;
  text-decoration: none;
  font-size: 28px;
  color:rgb(174, 216, 102);
  font-weight: bold;
  margin-left: 200px;
  width: 180px;
  transition-duration: 0.4s;
}

.add-bean-link:hover {
  color:rgb(70, 198, 132);
}
.my-bean-link:hover {
  color: whitesmoke;
}

/*  Style My Beans Page */
.my-beans-card {
  width: 240px;
  height: 170px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition-duration: 0.3s;
  margin: 20px 14px 10px 8px;
  text-align: center;
  padding: 12px;
  color: rgb(77, 79, 77);
  background-image: linear-gradient(to bottom right, #efebe5, rgb(184, 162, 135));
}

.my-beans-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.my-beans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.my-beans-card p {
  margin: 0 auto;
}

.card-header {
  margin-bottom: 16px;
  margin-top: 16px;
}

.see-details {
  text-decoration: none;
  color: rgb(70, 94, 70);
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: .3s;
}

.see-details:hover {
  font-size: 125%;
}

.delete-button {
  cursor: pointer;
  background-color: rgb(79, 58, 58);
  color:rgb(208, 211, 211);
  border-radius: 10%;
  padding: 3px;
  transition-duration: .5s;
  width: 80px;
  font-size: 10px;
}

.delete-button:hover {
  background-color:rgb(113, 90, 90);
}

.card-footer {
  margin: 26px auto 0 auto;
}

/*  Style Add Bean Form */
.new-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

h1 {
  margin: 10px;
  color: rgb(46, 47, 47);
  text-align: center;
}

.new-form label {
  margin: 5px 50px 5px 50px;
}

.new-form input {
  vertical-align: middle;
  margin: 5px 50px 5px 50px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 100em;
  border-radius: 1em;
}

.new-form select {
  vertical-align: middle;
  margin: 5px 700px 5px 50px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 10em;
  border-radius: 1em;
}

.new-form .cb {
  width: 40px;
  margin: 0;
  margin-left: 50px;
}

.new-form .cblabel {
  margin-left: 0;
  margin-right: 80px;
}

.new-form .certs {
  margin-right: 800px;
}

.new-form .add-bean {
  padding: 10px 20px;
  background-color: rgb(60, 149, 103);
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  margin: 30px 50px;
  transition-duration: 0.5s;
}

.new-form .add-bean:hover {
  background-color: rgb(70, 198, 132);
}


/*  Style bean details show page */
h2 {
  text-align: center;
}

.bean-details {
  margin: 0 10px 5px 10px;
  text-align: left;
}

.bean-details div {
  padding: 2px;
}

.bean-details .bean-info {
  text-align: left;
}

.bean-info {
  display: inline-block; 
	text-align: left; 
  list-style: none;
  margin: 0;
}

.bean-info li {
  padding-bottom: 5px; 
}


/* Style Review Section */
h3 {
  margin: 10px 0 10px 0;
  text-align: center;
}

#add-review-form {
  text-align: center;
}

#add-review-form label {
  margin: 5px;
}

#add-review-form select {
  vertical-align: middle;
  margin: 5px 20px 5px 5px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 8em;
  border-radius: 1em;
}

#add-review-form .rating select  {
  width: 3em;
}

#display-reviews {
  font-size: 16px;
  width: 14vw;
}

.add-review {
  padding: 10px 20px;
  background-color: rgb(60, 149, 103);
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  border-radius: 1em;
  margin: 10px 0;
  transition-duration: 0.5s;
}

.add-review:hover {
  background-color: rgb(70, 198, 132);
}

#review-notes {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 1em;
  width: 300px;
}

#display-reviews {
  font-size: 14px;
  width: -webkit-fill-available;
}

/* Style edit bean form and link */
.edit-link {
  background-color: rgb(237 236 237);
  border: .5px solid black;
  text-decoration: none;
  color: black;
  font-size: 14px;
  padding: 2px 12px;
  border-radius: 10%;
}

.new-form .edit-bean {
  padding: 10px 20px;
  background-color: rgb(60, 149, 103);
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  transition-duration: 0.5s;
}

.new-form .edit-bean:hover {
  background-color: rgb(70, 198, 132);
}